/* Định dạng chung cho header */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  /* Định dạng cho logo */
  .logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  /* Định dạng cho menu */
  .nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Định dạng cho user menu */
  .user-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .user-menu ul li {
    display: inline;
    margin-left: 20px;
  }
  
  .user-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  